<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3" style="margin-top: 200px">
      <h1 class="text-center">Scrawler Practice</h1>

      <% if logged_in? %>
        <p class="text-center">Hi, <%= current_user.username %></p>
      <%end%>

      <form id="csvForm" class="offset-md-4">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="form-group">
              <label for="files">Upload a CSV formatted file:</label>
              <input type="file" id="files" class="form-control-file" accept=".csv" required />
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" id="submit-file" class="btn btn-primary">Upload File</button>
        </div>
      </form>
    </div>
  </div>
</div>
