<h1>Scrawler Practice</h1>

<% if logged_in? %>
  <h1>You are Logged In, <%= current_user.username %></h1>
<%end%>

<form class="form-inline" id="csvForm">
  <div class="form-group">
    <label for="files">Upload a CSV formatted file:</label>
    <input type="file" id="files" class="form-control" accept=".csv" required />
  </div>
  <div class="form-group">
    <button type="submit" id="submit-file" class="btn btn-primary">Upload File</button>
  </div>
</form>
